*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family:'Century Gothic', sans-serif;
    *background-color: #999185; /*Pensado para el footer*/
}

.container_header{
    height: 100px;
}

.contenedor_logo{
    width: 100%;
    height: 75px; /*para quitar el espacio del logo*/
    margin:auto;
	text-align:center;
    position: relative;
    top: 20px;
}

.contenedor_logo > a > img{
    height: 200px;
}

.menu_principal{
    width: 100%;
    margin: auto;
    text-align: center;
    height: 100%; /*para que detecte su proporcion vertical*/
    *background-color: #ced5de; /*para probar submenu*/
}

nav{
    height: 100%;
}

nav > ul{  /*se usa ">" para que se haga la modificacion a este solamente, no a los hijos*/
    height: 100%;
    display: flex;
    justify-content:center;
    margin: auto;
    text-align: center;
    letter-spacing: 2px;
}

nav > ul > li{
    height: 100%;
    list-style: none;
    position: relative; /*porque quiero que se relacione el submenu a su padre*/
}

nav > ul > li > a{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center; /*centro vertical*/
    padding: 14px; /*para separar uno de otro*/
    text-transform: uppercase;
    font-size: 16px;
    color: #262020;
}

nav > ul > li > a:hover{
    transform: scale(1.1); /*para que crezca un poquito*/
}

#item_medio{
    *margin-right: 10px;
    *padding-right: -50px ;
}
                         /*los itens para meter el logo en el medio*/
#item_medio2{
    *margin-left: 100px;
    padding-left: 300px;
}

header{
    background-image: url(https://drive.google.com/uc?export=view&id=1yNDZHRpcBAGJXkTRqJvCLvKR9m76OiO6);
    height: 1000px;
    background-size: cover;
    background-repeat: no-repeat;
}

/*submenu*/

nav > ul > li > ul{
    width: 200px;
    list-style: none;
    display: flex;
    flex-direction: column; /*podría no colocarlo... peeero*/
    *background-color: #ced5de;
    position: absolute; /*para eliminar el ancho feísimo que tenia el menu*/
    *top: 90px; /*para que suba bello al ser seleccionado*/
    padding: 14px 0px;
    visibility: hidden; /*para que esté oculto*/
    opacity: 0; /*para lograr animacion hover*/
    z-index: 10; /*para que se mantenga por encima de todo*/
}

nav > ul > li:hover > ul{ /*hover en li porque el papá manda a salir*/
    visibility: visible;
    opacity: 1;
}

nav > ul > li > ul > li > a{
    display: block;
    padding: 6px;
    margin-top: 8px; /*para que se separe uno del otro*/
    text-transform: uppercase;
    font-size: 14px;
    color: #262020;
}

nav > ul > li > ul > li > a:hover{
    transform: scale(1.1); /*para el efecto hover*/

}

/*COMPLEMENTOS HEADER*/


.mi_nombre > img{
    width: 600px;
    margin-left: 40px;
    margin-top: 110px;
    color: #262020;
}

.bienvenida h1{
    width: 300px;
    text-align: right;
    margin-left: 300px;
    margin-top: -300px;
    letter-spacing: 3px;
    font-size: 30px;
    line-height: 40px;
    text-transform: uppercase;
}

.linea1{
    width: 595px;
    height: 150px;
    margin-top: -10px;
    border-style: none dashed none none;
    border-color: #ced5de;
}

.Desc_1{
    width: 650px;
    height: 500px;
    margin-top: -10px;
    margin-left: 592px;
    padding: 10px 60px;
    display: flex;
    flex-direction: column;
    text-align: right;
    border-style:solid;
    border-color: #ced5de;
}

.Desc_1 > h2{
    margin-top: 20px;
    margin-bottom: 40px;
    font-size: 38px;
    *text-transform: uppercase;
    line-height: 45px;
    letter-spacing: 3px;
    font-weight: 100;
    color:#614030;
}

.Desc_1 > p{
    font-size: 15px;
    margin-bottom: 80px;
    line-height: 20px;
    letter-spacing: 1px;
    color: #999185;
}

.Desc_1 > a > span{
    font-size: 12px;
    margin-top: 50px;
    font-weight: 550;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 20px 15px;
    color: #614030;
    border-style: solid;
    border-color: #614030;
}

.adorno_desc >img{
    width: 500px;
    margin-left:160px;
    margin-top: -250px;
}

.container_columna{
    width: 100%;
    height: 430px;
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 40px;
}

.container_columna .column{
    width: 350px;
    height: 430px;
    overflow: hidden;
    text-align: center;
    position: relative;
    transition: all 0.25s;
}

.container_columna .column:hover{
    transform: translateY(-15px);
}

.container_columna .column img{
    width: 350px;
    height: 430px;
    object-fit: cover;
}

.container_columna .column a{
font-weight: 400;
letter-spacing: 1px;
position: absolute;
top: 5%;
left: 5%;
text-decoration: none;
text-transform: uppercase;
color: #f5efec;
text-shadow: 0 0 8px #262020;
}

/*Inicio de formulario*/

.lets_go{
    width: 500px;
    height: 700px;
    display: flex;
    margin: auto;
    
    letter-spacing: 2px;
    flex-direction: column; 
    margin-top: 80px;
}

.lets_go h2{
    color: #704446;
    letter-spacing: 2px;
    font-size: 25px;
    line-height: 43px;
    font-weight: 350;
    text-align: center;
}

.lets_go p{
    padding-bottom: 27px;
    font-size: 14px;
    margin-top: 20px;
    letter-spacing: 0px;
    color: #999185;
    text-align: center;
}

form{
    border: 0;
    margin-top: 2%;
    *justify-content:flex-start;
}

/* Elementos de classe "campo" */
.campo {
    margin-bottom: 10px;
}

form .campo label {
    font-size: 12px;
    color: #999185;
    display: inline-block;
    position: relative;
}  

form .campo .pregunta{
    padding: 5px 15px 5px 51px;
    font-size: 12px;
    color: #999185;
    display: inline-block;
    position: relative;
    cursor: pointer;
}  

form .campo .pregunta::before{ /*las pelotitas si o no... pero no funcionan :( */
content:"";
width: 12px;
height: 12px;
display: inline-block;
background: none;
border: 1px solid #999185;
border-radius: 50px;
position: absolute;
left: 15px;
}

.campo input[type="text"], .campo input[type="email"]{
    width: 500px;
    padding: 0.2em;
    outline: 0;
    border-style: none none solid none;
    border-color:#704446;
    display: block;
}

.campo input[type="radio"]{
    display: none;
    border-bottom: 1px solid #262020;
}

form .botao {
    width: auto;
    text-transform: uppercase;
    justify-content: center;
    text-align: center;
    font-size: 1.2em;
    background-color: #704446;
    border: 0;
    margin-bottom: 1em;
    color: #ffffff;
    padding: 0.2em 0.6em;
    *box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    *position: absolute;
    *top: 90%;
    *left: 50%;
    *margin-right: -50%;
    margin: auto;
    *transform: translate(-50%, -50%)
}

.botao:hover {
    background: rgb(163, 161, 159);
    box-shadow: inset 2px 2px 2px rgba(163,151,169,0.2);
    text-shadow: none;
}

.botao, select{
    cursor: pointer;
}

/*penúltimo bloque*/

.Desc_1{
    width: 650px;
    height: 500px;
    margin-top: -10px;
    margin-left: 592px;
    padding: 10px 60px;
    display: flex;
    flex-direction: column;
    text-align: right;
    border-style:solid;
    border-color: #ced5de;
}

.Desc_1 > h2{
    margin-top: 20px;
    margin-bottom: 40px;
    font-size: 38px;
    *text-transform: uppercase;
    line-height: 45px;
    letter-spacing: 3px;
    font-weight: 100;
    color:#614030;
}

.Desc_1 > p{
    font-size: 15px;
    margin-bottom: 80px;
    line-height: 20px;
    letter-spacing: 1px;
    color: #999185;
}
