*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.container_header{
    height: 200px;
}

.contenedor_logo, contenedor_menu{
    width: 100%;
    height: 100px;
}

.contenedor_logo > a > img{
    height: 100px;
}