*{
    margin: 0;
    padding: 0;
    background-color: 58868c;
    box-sizing: border-box;
    font-family:  Sans-serif;
    
}

body{
    display: flexbox;
    background-image: url(https://drive.google.com/uc?export=view&id=1bLSPlYpgXvaRhn03Nfur_O_uY8Ji864n);
    background-size: 100%
}

img{
max-width: 100%;    
}

